.search{
    padding: 5px;
}
.search input{
    width: 450px;
    height: 35px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}
.btn{
    top: 0;
    right: 0;
    background: #440080;
    width: 37px;
    height: 37px;
    line-height: 20px;
    text-align: center;
    color:white;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;

}
.carousel-inner img {
    width: 100%;
    max-height: 800px;
}

.carousel-inner{
 height: 500px;
}